{% extends 'base.html.twig' %}

{% block title %}{{ 'app.title.worker.edit' | trans }}{% endblock %}

{% block body %}
    <main class="container-fluid">
        <div class="mt-2">
            {{ include('worker/_form.html.twig',{
                'readonly': readonly,
                'new': new,
                'validate': validate,
            }) }}
        </div>
        {# {% if not new %}
            <div class="d-flex justify-content-center mt-2">
                <a class="btn btn-secondary btn-sm" href="{{ path('worker_index') }}">{{ 'btn.cancel' | trans }}</a>
            </div>
        {% endif %} #}
    </main>
{% endblock body %}